* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    justify-content: center;
    align-items: center;
    background-color: #f5efef;
    font-family: Arial, sans-serif;
    color: #1f001f;
  }
  body {
    background: linear-gradient(
      to right,
      #E6CCE6 0 406px, 
      #1f001f 406px 410px, 
      #F5EFEF 410px 
    );
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Header Styles */
  header {
    grid-column: span 12;
    display: flex;
    margin-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .head {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
  }
  
  .logo a {
    color: #1f001f;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  #nav {
    display: flex;
    justify-content: center;
    width: 660px;
    height: 58px;
    grid-column: 5 / -1;
    margin-left: 300px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li a {
    width: 100px;
    height: 45px;
    line-height: 24px;
    text-align: center;
    color: #970097;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin-right: 32px;
    display: block;
    border-radius: 8px;
  }
  
  nav ul li a:hover {
    background-color: #1f001f;
    color: #fff;
  }
  
  nav ul li a:active {
    background-color: #c184c1;
    color: #970097;
  }
  /* main style */
  main{
    grid-column: span 12;
 
    margin-left: 80px;
    display: flex;
  }
  
  .my-expertice {
    display: flex;
    flex-direction: column;
   
   
    max-width: 250px; 
    
    padding: 16px;
    border-radius: 8px;
   
  }
  
  .my-expertice h2 {
    color: #970097;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 8px;
    text-align: center;
    border-bottom: 2px solid #970097;
    padding-bottom: 8px;
  }
  
  .my-expertice ul, 
  .my-expertice ol {
    margin: 16px;
    padding: 0;
    list-style: none;
  }
  
  .my-expertice li {
    padding: 8px 0;
    font-size: 14px;
    line-height: 24px;
    color: #1f001f;
  }
  
  .my-expertice li::before {
    content: "• "; 
    color: #970097;
    font-weight: bold;
  }
  
  .language ol li::before {
    content: counter(li) ". "; 
    counter-increment: li;
    color: #970097;
    font-weight: bold;
  }
  
  .language ol {
    counter-reset: li; 
  }
  
  .my-expertice .expertice,.my-expertice .language {
    margin-bottom: 16px;
  }
  
  .my-expertice .expertice ul, 
  .my-expertice .language ol {
    padding-left: 16px; }
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
       margin: 20px 20px; 
        padding: 20px;
        border-radius: 8px;
        width: 80%; 
      }
.right .experiance p{
    margin: 20px 0;
    font-size: 16px;
    color:#1f001f ; 
    max-width: 600px; 
    text-align: left;
      }
.right .experiance h2{
    text-align: left;
      }
/* General Table Styles */
.skill {
    margin-right: 32px;
    margin-top: 48px;
    padding: 16px;
    width: 600px;
    background-color: #f5efef;
    border-radius: 8px;
    
  }
  
 .experiance{
    width: 540px;
    justify-content: center;
 }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
  }
  
  th, td {
    background-color: #E6CCE6;
    padding: 12px 8px;
    border: 1px solid #970097;
  }
  
  th {
    background-color: #E6CCE6;
    color:#1f001f;
    font-weight: bold;
  }
/* Footer */
.footer {
    grid-column: span 12;
    margin-top: 0;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #1f001f;
    margin-left: 16px;
    margin-top: 80px;
  }
  
  footer h2 {
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap; 
    margin-bottom: 16px;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 24px;
  }
  
  #loc {
    display: flex;
    flex-direction: column;
    align-items: left; 
    text-align: left;
    margin-left: 800px;
    
  }
  
  .social-media a {
    display: flex;
    margin: 8px;
    text-decoration: none;
    color: #1f001f;
  }
  
  .social-media img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .location {
    display: flex;
    align-items: left;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .location p {
    margin: 0;
  }
  #footerLast{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 160px;
    margin-bottom: 32px;
  }
  .location img , .social-icon {
    border-radius: 50%;
    background-color: #9C3C9C; 
    text-align: center;
    line-height: 60px; 
    
  
  
    border: 5px solid #9C3C9C;
   
  }
  
  
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  

