/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5EFEF;
  font-family: Arial, sans-serif;
  color: #1F001F;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px; /* Large spacing for desktop */
  padding-left: 80px;
  padding-right: 80px;
  max-width: 100%;
  margin: 0 auto;
}

/* Header Styles */
header {
  grid-column: span 12;
  display: flex;
  
  margin-bottom: 80px;
  padding-left: 80px; /* Left margin */
  padding-right: 80px; /* Right margin */
}

.head {
  display: flex;
  align-items: center;
  
  width: 100%;
  padding: 24px;
}

.logo a {
  color: #1F001F;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-left: 0;
  justify-content: left;
}

#nav {
  display: flex;
  justify-content: center; /* Center nav items */
  width: 660px;
  height: 58px;
  grid-column: 5 / -1; /* Start from the 5th column to the last column */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Center align nav items */
}

nav ul li a {
  width: 100px;
  height: 45px;
  line-height: 24px;
  text-align: center;
  color: #970097;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  margin-right: 32px;
  display: block;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: #1F001F;
  color: #fff;
}

nav ul li a:active {
  background-color: #C184C1;
  color: #970097;
}

/* Main Content */
main {
  grid-column: span 12;
  display: flex;
  gap: px; /* Large spacing */

}

.main-content {
  display: flex;
  margin-left: 80px;
}

.home-info {
  flex: 2;
  width: 522px;
  
}

.home-info h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.home-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.home-img {
  flex: 1;
  text-align: left; /* Align the image to the left */
  margin-right: 48px;
  grid-column: 1 / span 3; /* Align image to the left and span across 3 columns */
}

.home-img img {
  max-width: 100%;
  width: 240px;
  border-radius: 8px;
}

/* Footer */
footer {
  grid-column: span 12;
  margin-top: 80px;
  padding: 32px;
  display: flex;
  color: #1F001F;
  margin-bottom: 80px;
  justify-content: center; /* Center footer content */
}

footer h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center social media icons */
  margin-bottom: 24px;
}

.social-media a {
  display: flex;
  align-items: center;
  margin: 8px;
  text-decoration: none;
  color: #1F001F;
}

.social-media img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.location p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-container {
    padding: 60px;
    gap: 24px;
  }

  header {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  main {
    flex-direction: column;
    gap: 24px;
    
  }

  footer {
    padding: 24px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    padding: 48px;
    gap: 18px;
  }

  nav ul {
    flex-direction: column;
    gap: 16px;
  }

  main {
    gap: 18px;
  }

  footer {
    padding: 18px;
  }
}
